<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heart Disease Prediction</title>
</head>
<body>
  <h1>Heart Disease Prediction</h1>
  <form id="predictionForm">
    <label for="features">Enter Features (comma-separated):</label><br>
    <input type="text" id="features" name="features" required><br><br>
    <button type="submit">Predict</button>
  </form>
  <p id="result"></p>

  <script>
    const form = document.getElementById("predictionForm");
    const result = document.getElementById("result");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const features = document.getElementById("features").value.trim().split(",").map(Number);
        console.log("features from frontend"+features );

      try {
        const response = await fetch("https://nodejs-production-da22.up.railway.app/predict", { // "https://your-railway-url.onrender.com/predict"
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ features })
        });

        const data = await response.json();
        console.log("Data in frontend: "+ data);
        console.log("data.prediction: "+ data.prediction);
        if (response.ok) {
            // Handle the prediction based on number (0 or 1)
            const predictionMessage = data.prediction === 1? "Heart Disease Detected" : "No Heart Disease";
          // alert(`Prediction got: ${data.prediction === "1" ? "Heart Disease Detected" : "No Heart Disease"}`);
          alert(`Prediction done: ${predictionMessage}`);
          result.textContent = `Prediction: ${data.prediction}`;
        } else {
            console.log("data.error occured");
          alert(`Error: ${data.error}`);
          result.textContent = `Error: ${data.error}`;
        }
      } catch (err) {
        alert("An error occurred");
        console.error(err);
      }
    });
  </script>
</body>
</html>
